@import 'bourbon/bourbon';
@import 'normalize';

body {
  background-color: #000;
}

#wrapper { 
  min-height: 100%;
}

.content {
  max-width: 1200px; 
  margin: 0 auto;
}

#dynamo-loading {
  color: white;
  font-size: 0.8em;
}

#grid {
  padding: 1em 0;
  display: block;
  width: 100%;
  div {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;    
    &#column_1 {
      width: 1080/1945*100%;
      div:first-child {
        display: block;
        position: relative;
        padding-bottom: 720/1080*100%;
        height: 0;
        width: 100%;
        overflow: hidden;
      }
      div {
        width: 50%;
        padding-bottom: 360/1080*100%;
        overflow: hidden;
      }
    }

    &#column_2 {
      width: 405/1945*100%;
      div {
        display: block;
        position: relative;
        padding-bottom: 270/405*100%;
        overflow: hidden;
      }
    }

    &#column_3, &#column_4 {
      width: 230/1945*100%;
      div {
        display: block;
        position: relative;
        padding-bottom: 271/405*100%;
        overflow: hidden;
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  }
}